*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* File: style/style.css */
/* --- a/file:///e%3A/Anurag%20Documents/study/Python%20data%20science/DataAnalyst/style/style.css */
/* +++ b/file:///e%3A/Anurag%20Documents/study/Python%20data%20science/DataAnalyst/style/style.css */
/* @@ -1,3 +1,3 @@ */   
/*  This is a CSS file for styling the HTML document */
/*  It contains styles for the body and h1 elements */
/*  It is linked to the HTML document via a link tag in the head section */
h1 main-heading {
    color: blue;
}